nav{
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: center;
    height: 45px;
    background: var(--white);
}

.nav a{
    transition: .1s all ease;
    max-width: 600px;
    position: relative;
    font-weight: 400;
}

nav a.active{
    color: var(--primary);
    font-weight: 600;
}

nav a::before{
    content: '';
    position: absolute;
    background: var(--primary);
    height: 2.5px;
    width: 0;
    bottom: 0px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s all ease;
}

nav a.active::before{
    width: 2rem;
}

main>section{
    flex-shrink: 0;
    display: none;
    max-width: 600px;
    height: 100%;
}

main>section>div{
    padding-bottom: 45px;
}

.img{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.banner{
    border-radius: 10px;
    overflow: hidden;
}

.banner>img.img{
    background-size: contain;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 70px);
}

.banner-text{
    font-size: 2.5em;
    font-weight: 800;
    color: var(--white);
}

.banner-text>span{
    color: var(--primary);
}

.fallback{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    top: 0;
}

h1.title{
    font-size: 18px;
}

.card{
    padding: .5rem;
    margin-top: .5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.card>.img{
    background: url("../images/banner.webp");
    width: 80px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card>.title{
    font-size: 18px;
    padding-left: .5rem;
}

.card>.title>.title{
    font-weight: 600;
    color: var(--black);
}

.card>.title>.sub-title{
    font-size: 12px;
    color: var(--grey-faded);
}

.card>.title>.sub-title>img{
    height: 12px;
}

.card>.title>.sub-title>span{
    padding-left: .2rem;
}

.card>.controller{
    padding: .5rem .2rem;
    height: 60px;
    background: var(--primary-faded);
    color: var(--black);
    border-radius: 10px;
    user-select: none;
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    color: var(--primary);
    font-size: 2em;
    transform: scaleX(1) scaleY(1);
    transition: .3s all ease;
}

.card>.controller:active {
    background: var(--primary-faded);
    border-color: 1px solid var(--primary);
    color: var(--primary);
    transform: scale(.9);
}

.card>.controller>svg {
    display: block;
    pointer-events: none;
    transform:  rotate(-90deg);
}

/* scroll indicator */